body{
    margin:0;
    font-family: 'Muli', sans-serif;
}

h1{
    background-color: rgb(198,74,74);
    color: white;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    margin:0;
}

.create-form{
    margin: 20px 200px 20px 200px;
    border: 1px solid rgb(198, 195, 195);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#txt-task{
    padding: 5px 10px;
    width: 400px;
    border-radius: 8px;
    border: 1px solid rgb(198, 195, 195);
    font-size: 18px;
}

.btn{
    background-color: #dedede;
    color: rgb(190, 72, 72);
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(190, 72, 72);
    color: white;
}

ul li{
    list-style: none;
    background-color: #f1f1f1;
    color: #000;
    margin-bottom: 5px;
    font-size: 18px;
    padding: 10px;
    margin-right: 50px;
    border-radius: 8px;
}

ul li:hover{
    background-color: #dddddd;
}